/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.account {
	position: absolute;
	top: 0;
	right: 10px;
}
.account, .account a, .account a:visited {
	color: #888;
}
.account a:hover {
	color: #fff;
}
h1 {
	margin-bottom: 2px;
	padding-bottom: 4px;
	border-bottom: 1px solid #888;
	width: 690px;
}
h2 {
	margin-top: 40px;
	margin-bottom: 2px;
	padding-bottom: 4px;
	border-bottom: 1px solid #888;
	width: 470px;
}
p.sort-detials {
	margin-top: 0px;
	margin-bottom: 30px;
	border-left: #1e75af solid 5px;
	padding-left: 5px;
}
p.evaluation-complete {
	margin-top: 0px;
	margin-bottom: 30px;
	border-left: #1e75af solid 5px;
	padding: 0 5px;
	background: #dcf3ff;
	display: inline-block;
}
p.evaluation-incomplete {
	margin-top: 0px;
	margin-bottom: 30px;
	border-left: #c69f52 solid 5px;
	padding: 0 5px;
	background: #fcf3e0;
	display: inline-block;
}
th {
	vertical-align: bottom;
}
th a, th a:visited {
	color: #000;
	text-decoration: none;
}
th a:hover {
	color: #fff;
}
th, td {
	padding: 3px 10px;
	height: 25px;
}
.evaluated-yes, .evaluated-no {
	height: 25px;
	width: 25px;
	display: block;
	text-indent: -99000px;
}
.evaluated-yes {
	background: url('/assets/checkmark.png') no-repeat;
}
.evaluated-no  {
	background: url('/assets/checkbox.png') no-repeat;
}
.col-evaluated {
	padding-left: 3px;
}
.col-lname {
	padding-right: 0;
}
.col-fname {
	padding-left: 5px;
}
.col-score {
	border-right: 1px dotted #888;
	padding-right: 25px;
}
.col-average {
	padding-left: 25px;
}
.col-stddev {
/*	border-right: 1px dotted #888;*/
	padding-right: 25px;
}
.col-skype {
	border-right: 1px dotted #888;
	padding-right: 25px;
	text-align: center;
}

.col-comments {
	text-align: left;
	min-width: 200px;
}
.col-questions { 
	width: 150px; 
}
.col-member {
	width: 70px;
}
tr.evaluated, tr.evaluated td {
	background: #d7ebf2;
}
td {
	border-bottom: 1px solid #afc7ce;
}
.responses td { 
	border: none;
}
img {
	vertical-align:-28%;
}
input[type="radio"] {
	margin-left: 10px;
	margin-right: 0;
}
.spacer {
	margin: 0 10px;
	border-right: 1px dotted #888;
}
.underline {
	text-decoration: underline;
}
.field.general_comments {
	margin-top: 30px;
}


.selected-value {
	font-weight: bold;
	text-align: center;
}
.selected-value-1 {
	background: #F58432;
}
.selected-value-2 {
	background: #F7CA32;
}
.selected-value-3 {
	background: #F8ED31;
}
.selected-value-4 {
	background: #C2DA38;
}
.selected-value-5 {
	background: #8cc63e;
}