<h1>Skype interview for <%= @skype_interview_recording.applicant %></h1>

<div id="videoplayer">Loading the player...</div>

<p><%= link_to "Direct link to QuickTime video (use this link if the video above does not play)", @skype_interview_recording.video.url %></p>

<script type="text/javascript" src="/assets/jwplayer/jwplayer.js" ></script>
<script type="text/javascript">
    jwplayer("videoplayer").setup({
        file: "<%= @skype_interview_recording.video %>",
        width: '924',
        height: '520'
    });
</script>
<style type="text/css" media="screen">
	#videoplayer {
		margin: 20px 0;
	}
</style>

<%= link_to 'Back', skype_list_url() %>
